.Page404 {
    text-align: center;
    margin-top: 40px;
    /* pushes everything closer to the top */
}

.Page404>h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #ff4d4d;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 0 0 5px 0;
}

.Page404>h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #555;
    margin-bottom: 0px;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}


.Page404>img {
    height: 300px;
    width: 350px;
}