.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3px;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    color: white;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.Header h1 {
    font-size: 1.8em;
    margin: 0;
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}