.VacationList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    ;
}

.FilterButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.FilterButtons button {
    background: linear-gradient(135deg, #ff6a88, #ff99ac);
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.FilterButtons button:hover {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.FilterButtons button:active {
    transform: scale(0.95);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 30px 0;
    flex-wrap: wrap;
    min-height: 50px;
}

.pagination button {
    background: linear-gradient(135deg, #ff6a88, #ff99ac);
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 40px;
    text-align: center;
    min-width: 40px;
}

.pagination button:hover {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.pagination button:active {
    transform: scale(0.95);
}

.pagination button.active {
    background: linear-gradient(135deg, #ff4b2b, #ff6a88);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
}